<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="ProductEFContext" connectionString="data source=(local)\YFIOTDB;initial catalog=EF6Recipes;persist security info=True;user id=sa;password=sxserver345;multipleactiveresultsets=True;" />
    <add name="OAModelEntities" connectionString="metadata=res://*/OAModel1.csdl|res://*/OAModel1.ssdl|res://*/OAModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\YFIOTDB;initial catalog=EF6Recipes;persist security info=True;user id=sa;password=sxserver345;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LocationEntities" connectionString="metadata=res://*/LocationModel.csdl|res://*/LocationModel.ssdl|res://*/LocationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\YFIOTDB;initial catalog=EF6Recipes;persist security info=True;user id=sa;password=sxserver345;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AgentEntities" connectionString="metadata=res://*/AgentModel.csdl|res://*/AgentModel.ssdl|res://*/AgentModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\YFIOTDB;initial catalog=EF6Recipes;persist security info=True;user id=sa;password=sxserver345;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="StudentModel" connectionString="data source=(LocalDb)\v11.0;initial catalog=AlibabaOA.DAL.StudentModel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="StudentEntities" connectionString="data source=(LocalDb)\v11.0;initial catalog=AlibabaOA.DAL.StudentEntities;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="CumtomerEntities" connectionString="data source=(LocalDb)\v11.0;initial catalog=AlibabaOA.DAL.CumtomerEntities;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="AccountEntities" connectionString="data source=(local)\YFIOTDB;initial catalog=EF6Recipes;persist security info=True;user id=sa;password=sxserver345;multipleactiveresultsets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>